$menuColor: #fee8d6;
$textColor: #7b3f00;
$h1Color: #5e2612;
$sectionsBackground: #fff5ee;
$buttonOrderColor: #8b4500;
$activeLinkColor: #ffdab9;
$inputOutlineColor: #cd3700;
$menuButtonColor: #b87333;
$submitButtonColor: #8b2500;
$buttonOrderOutline: #ffdab9;
$prodNameDivColor: #ffdab9;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $textColor;
  // word-break: break-all;
  word-break: break-word;
}

body {
  background-color: lightsalmon;
}

.compt-content {
  margin-top: 80px;
}

.gradientLine {
  grid-column: 1 / -1;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr auto 1fr;
  grid-template-columns: 1fr auto 1fr;
  grid-gap: 20px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
}
.gradientLine:before {
  display: block;
  height: 7px;
  content: "";
  background: -webkit-gradient(
    linear,
    right top,
    left top,
    from($menuColor),
    to(transparent)
  );
  background: -webkit-linear-gradient(right, $menuColor, transparent);
  background: -o-linear-gradient(right, $menuColor, transparent);
  background: linear-gradient(to left, $menuColor, transparent);
}

.gradientLine:after {
  display: block;
  height: 7px;
  content: "";
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from($menuColor),
    to(transparent)
  );
  background: -webkit-linear-gradient(left, $menuColor, transparent);
  background: -o-linear-gradient(left, $menuColor, transparent);
  background: linear-gradient(to right, $menuColor, transparent);
}

a {
  i {
    color: beige;
  }
}

table a i {
  color: $textColor;
}

.layout {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.main-container {
  flex: 1;
}
.footer {
  text-align: center;
  font-style: italic;
  height: 40px;
  margin: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}


// relocate

th{
  min-width: 70px;
}