.ui.content.image {
  display: flex;
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
}

@media only screen and (max-width: 600px) {
  .horizontal {
    flex-direction: column !important;
    .ui.content.image {
      margin: 0 auto !important;
    }
  }
}
