section#prices {
  display: flex;
  width: 100% !important;
  //   justify-items: center;
  //   align-items: center;
  //   justify-content: center;
  margin: 0 auto;
  flex-wrap: wrap;
  .product {
    background: rgba($sectionsBackground, 0.9);
    margin: 10px 5px;
    flex: 1 250px;

    display: flex;

    flex-direction: column;

    justify-content: flex-end;
    text-align: center;

    // div.prodName {
    //   height: 50px;
    //   background: $prodNameDivColor;

    //   display: flex;

    //   align-items: center;
    //   justify-content: center;
    //   h3 {
    //     font-size: 1.5em;
    //   }
    // }

    div.image {
      height: auto;
      margin-bottom: auto;
      img {
        display: block;
        width: 55%;
        margin: 0 auto;
      }
    }

    // p:first-child {
    //   font-weight: 600;
    //   padding: 12px;
    // }

    p.ingridients {
      padding: 5px;
      height: 50px;
    }

    h4 {
      font-size: 2em;
    }

    button.order {
      width: 35%;
      height: 35px;
      border-radius: 5px;
      padding: 5px;
      margin: 10px auto;
      background: $buttonOrderColor;
      color: $sectionsBackground;
      font-size: 0.8em;
      outline-color: $buttonOrderOutline;
    }
    button.order:hover {
      box-shadow: 0 3px 12px rgba(0, 0, 0, 0.3);
    }
  }
}

// styling for semantic ui variant

.product {
  background: rgba($sectionsBackground, 0.9);
  .content {
    padding: 5px !important;
    p.header {
      padding: 5px !important;
    }
  }
  .image {
    min-height: 140px !important;
  }
  .ingredients {
    height: 120px !important;
  }

  .price {
    p,
    h4 {
      display: flex;
      justify-content: center;
      display: inline !important;
      padding: 0 15px;
    }
  }
  div.prod-name {
    height: 65px;
    background: $prodNameDivColor;

    display: flex;

    align-items: center;
    justify-content: center;
    h3.ui.huge.header {
      font-size: 1.7em !important;
      //   margin: 5px 0 !important;
    }
  }
}
